/* UI Colors */
$color-white: #FFFFFF;
//primary
$color-primary-darker: #75BD92;
$color-primary-dark: #DBF8E8;
$color-primary-light: #EEFCF4;

//warning
$color-warning-darker: #FF800D;
$color-warning-dark: #FFE4CC;
$color-warning-light: #FFF4EB;
$color-warning-font: #020881;
$color-warning-border-text: #FFAEAE;
//danger
$color-danger-darker: #D75151;
$color-danger-dark: #F8DBDB;
$color-danger-light: #FCEEEE;
//filters-list
$color-filters-day-dark: #EFF2F5;
$color-filters-day-darker: #58667E;
